<mail:subject>
	{{ phrase('questionthreads_mail_solved', {'title': $thread.title}) }}
</mail:subject>

{{ phrase('questionthreads_mail_body_solved', {
	'actionCaller': username_link_email($actionCaller, $actionCaller.username),
	'board': '<a href="' . link('canonical:index') . '">' . $xf.options.boardTitle . '</a>'
}) }}

<h2><a href="{{ link('canonical:posts', $post) }}">{{ prefix('thread', $thread, 'escaped') }}{$thread.title}</a></h2>

<table cellpadding="10" cellspacing="0" border="0" width="100%" class="linkBar">
	<tr>
		<td>
			<a href="{{ link('canonical:threads/unread', $thread, {'new': 1}) }}" class="button">{{ phrase('questionthreads_view_this_question') }}</a>
		</td>
		<td align="{{ $xf.isRtl ? 'left' : 'right' }}">
			<a href="{{ link('canonical:watched/threads') }}" class="buttonFake">{{ phrase('watched_threads') }}</a>
		</td>
	</tr>
</table>

{{ phrase('watched_thread_email_html_footer', {
		'thread': '<a href="' . link('canonical:threads', $thread) . '">' . $thread.title . '</a>',
		'board': $xf.options.boardTitle,
		'disable_this_link': link('canonical:email-stop/content', $xf.toUser, {'t': 'thread', 'id': $thread.thread_id}),
		'disable_all_link': link('canonical:email-stop/all', $xf.toUser)
}) }}