<xf:selectrow name="QT_type" value="{$forum.QT_type}" label="{{ phrase('QT_forum_type') }}">
	<xf:option value="threads_only">{{ phrase('QT_threads_only') }}</xf:option>
	<xf:option value="threads_questions">{{ phrase('QT_threads_and_questions') }}</xf:option>
	<xf:option value="questions_only">{{ phrase('QT_questions_only') }}</xf:option>
</xf:selectrow>

<xf:checkboxrow>
	<xf:option name="QT_convert_threads"
			   label="{{ phrase('QT_convert_existing_threads') }}"
			   hint="{{ phrase('QT_convert_threads_hint') }}" />
</xf:checkboxrow>