<xf:checkboxrow label="{{ phrase('QT_question_threads') }}">

	<xf:option name="user_criteria[QT_questions_posted][rule]" value="QT_questions_posted" selected="{$criteria.QT_questions_posted}"
			   label="{{ phrase('QT_user_has_posted_at_least_x_questions:') }}">
		<xf:numberbox name="user_criteria[QT_questions_posted][data][questions]" value="{$criteria.QT_questions_posted.questions}"
					  size="5" min="0" step="1" />
	</xf:option>

	<xf:option name="user_criteria[QT_questions_maximum][rule]" value="QT_questions_maximum" selected="{$criteria.QT_questions_maximum}"
			   label="{{ phrase('QT_user_has_posted_no_more_than_x_questions:') }}">
		<xf:numberbox name="user_criteria[QT_questions_maximum][data][questions]" value="{$criteria.QT_questions_maximum.questions}"
					  size="5" min="0" step="1" />
	</xf:option>

	<xf:option name="user_criteria[QT_best_answer_count][rule]" value="QT_best_answer_count" selected="{$criteria.QT_best_answer_count}"
			   label="{{ phrase('QT_user_has_posted_at_least_x_best_answers:') }}">
		<xf:numberbox name="user_criteria[QT_best_answer_count][data][best_answers]" value="{$criteria.QT_best_answer_count.best_answers}"
					  size="5" min="0" step="1" />
	</xf:option>

	<xf:option name="user_criteria[QT_best_answer_ratio][rule]" value="QT_best_answer_ratio" selected="{$criteria.QT_best_answer_ratio}"
			   label="{{ phrase('QT_user_best_answer_to_answer_ratio_is_at_least:') }}">
		<xf:numberbox name="user_criteria[QT_best_answer_ratio][data][ratio]" value="{$criteria.QT_best_answer_ratio.ratio}"
					  size="5" min="0" step="0.25" />
		<xf:afterhint>{{ phrase('QT_best_answer_ratio_explanation') }}</xf:afterhint>
	</xf:option>

</xf:checkboxrow>

<hr class="formRowSep" />

<!--[QT:user:after_QT]-->