<hr class="formRowSep" />

<xf:numberboxrow name="options[limit]" value="{$options.limit}" min="1"
	label="{{ phrase('maximum_entries') }}" />

<xf:radiorow name="options[style]" value="{{ $options.style ?: 'simple' }}"
	label="{{ phrase('display_style') }}">

	<xf:option value="simple"
		label="{{ phrase('simple') }}"
		hint="{{ phrase('widget_display_simple_explain') }}" />
	<xf:option value="full"
		label="{{ phrase('full') }}"
		hint="{{ phrase('new_threads_display_style_full_explain') }}" />
	<xf:option value="expanded"
		label="{{ phrase('expanded') }}"
		hint="{{ phrase('new_threads_display_style_expanded_explain') }}" />
</xf:radiorow>

<xf:selectrow name="options[node_ids][]" value="{{ $options.node_ids ?: '' }}" multiple="multiple" size="7"
	label="{{ phrase('forum_limit') }}"
	explain="{{ phrase('only_include_threads_in_selected_forums') }}">

	<xf:option value="">{{ phrase('all_forums') }}</xf:option>
	<xf:foreach loop="$nodeTree.getFlattened(0)" value="$treeEntry">
		<xf:option value="{$treeEntry.record.node_id}" disabled="{{ $treeEntry.record.node_type_id != 'Forum' }}">
			{{ repeat('&nbsp;&nbsp;', $treeEntry.depth)|raw }} {$treeEntry.record.title}
		</xf:option>
	</xf:foreach>
</xf:selectrow>