<xf:macro template="QT_macros" name="best_answer_mark" arg-thread="{$content.Thread}" />
<xf:if is="$xf.visitor.user_id && ($xf.visitor.user_id === $content.user_id)">
	{{ phrase('QT_x_marked_your_answer_best_for_y_question', {
		'name': username_link($user, false, {'defaultname': $alert.username}),
		'title': '<a href="' . link('posts', $content) . '" class="fauxBlockLink-blockLink">' . prefix('thread', $content.Thread) . $content.Thread.title . '</a>'})
	}}
	<xf:else />
	{{ phrase('QT_x_selected_best_answer_for_y_question', {
		'name': username_link($user, false, {'defaultname': $alert.username}),
		'title': '<a href="' . link('posts', $content) . '" class="fauxBlockLink-blockLink">' . prefix('thread', $content.Thread) . $content.Thread.title . '</a>'})
	}}
</xf:if>