<div class="contentRow-title">
	{{ phrase('news_feed_post_best_answer', {
		'username': username_link($user, false, {'defaultname': $newsFeed.username}),
		'threadTitle': '<a href="' . link('posts', $content) . '">' . prefix('thread', $content.Thread) . $content.Thread.title . '</a>'
	}) }}
</div>

<div class="contentRow-snippet">{{ snippet($content.message, $xf.options.newsFeedMessageSnippetLength, {'stripQuote': true}) }}</div>
<xf:if is="{$content.attach_count}">
	<xf:macro template="news_feed_attached_images" name="attached_images"
		arg-attachments="{$content.Attachments}" arg-link="{{ link('posts', $content) }}" />
</xf:if>

<div class="contentRow-minor"><xf:date time="{$newsFeed.event_date}" /></div>