<xf:if is="!$post.isFirstPost() && $thread.QT_question">
	<xf:if is="{{ !$thread.QT_best_answer_id && $thread->canSelectBestAnswer($post) }}">
		<a href="{{ link('posts/selectBestAnswer', $post) }}" class="actionBar-action QT_best_answer_action QT_select">
			<xf:if is="{{ property('QT_best_answer_mark_type') === 'icon' }}">
				<i class="fa {{ property('QT_best_answer_mark_icon') }} QT_best_answer_action QT_best_answer_mark_icon"></i>
			</xf:if>

			<xf:if is="{{ property('QT_best_answer_mark_type') === 'image' }}">
				<img class="QT_best_answer_mark QT_best_answer_mark_image"
					 src="{{ property('QT_best_answer_mark_image') }}">
			</xf:if>

			<span>{{ phrase('QT_best_answer') }}</span>
		</a>
	</xf:if>

	<xf:if is="{{ $thread.QT_best_answer_id && $thread->canUnselectBestAnswer() && ($thread.QT_best_answer_id === $post.post_id) }}">
		<a href="{{ link('posts/unselectBestAnswer', $post) }}" class="actionBar-action QT_best_answer_action QT_unselect">
			<i class="fa fa-times"></i>
			<span>{{ phrase('QT_not_best_answer') }}</span>
		</a>
	</xf:if>
</xf:if>