///////////////////
/////////////////// Question mark
///////////////////

.QT_question_mark
{
	margin-right: 3px;

	.contentRow & 
	{
		margin-right: 1px;
	}
	
	.xf-QT_question_mark_general_css();
}

.QT_question_mark_shape
{
	display: inline-block;

	width: 10px;
	height: 10px;

	&.QT_solved
	{
		background: @xf-QT_shape_solved_color;
		border-color: xf-intensify(@xf-QT_shape_solved_color, 10%);
	}

	&.QT_unsolved
	{
		background: @xf-QT_shape_unsolved_color;
		border-color: xf-intensify(@xf-QT_shape_unsolved_color, 10%);
	}

	.xf-QT_question_mark_shape_css();
}

.QT_question_mark_icon
{
	&.QT_solved
	{
		color: @xf-QT_shape_solved_color;
	}

	&.QT_unsolved
	{
		color: @xf-QT_shape_unsolved_color;
	}

	.xf-QT_question_mark_icon_css();
}

.QT_question_mark_image
{
	.xf-QT_question_mark_image_css();
}

///////////////////
/////////////////// Best answer mark
///////////////////

.QT_best_answer_mark
{
	.xf-QT_best_answer_mark_general_css();
}

.QT_best_answer_link
{
	&:hover
	{
		text-decoration: none;
	}

	.contentRow &
	{
		padding-right: 0px;
	}
	
	.xf-QT_best_answer_link_css();
}

.QT_best_answer_mark_icon
{
	color: @xf-QT_best_answer_mark_color;
	font-size: 90%;

	&:hover
	{
		color: xf-intensify(@xf-QT_best_answer_mark_color, 7%);
	}

	.xf-QT_best_answer_mark_icon_css();
}

.QT_best_answer_mark_image
{
	.QT_best_answer_action &
	{
		vertical-align: bottom;
		vertical-align: text-bottom;
	}

	.xf-QT_best_answer_mark_image_css();
}

.message-QT_best_answer
{
	.xf-QT_best_answer_indicator_css();
}

///////////////////
/////////////////// Best answer
///////////////////

.QT_best_answer
{
	&.QT_message_background
	{
		.message-cell--main
		{
			background: @xf-QT_best_answer_message_background_color;
		}

		.message-userArrow:after
		{
			border-right-color: @xf-QT_best_answer_message_background_color;
		}

		@media (max-width: @xf-messageSingleColumnWidth) {
			.message-userArrow:after
			{
				border-right-color: transparent;
				border-bottom-color: @xf-QT_best_answer_message_background_color !important;
			}
		}
	}

	&.QT_user_block_background
	{
		.message-cell--user
		{
			background: @xf-QT_best_answer_user_block_background_color;
		}
	}

	.xf-QT_best_answer_message_css();
}

///////////////////
/////////////////// Select/Unselect best answer buttons
///////////////////

.QT_best_answer_action
{
	&.QT_select
	{
		color: @xf-QT_best_answer_mark_color;
	}
	
	&.QT_unselect
	{
		color: @xf-QT_shape_unsolved_color;
	}
}

///////////////////
/////////////////// Solved/Unsolved pageaction buttons
///////////////////

.button.QT_pageaction_solved
{
	.xf-buttonCta();

	background: @xf-QT_shape_solved_color;

	.m-buttonBlockColorVariationSimple(xf-default(@xf-QT_shape_solved_color, transparent));
}

.button.QT_pageaction_unsolved
{
	.xf-buttonCta();

	background: @xf-QT_shape_unsolved_color;

	.m-buttonBlockColorVariationSimple(xf-default(@xf-QT_shape_unsolved_color, transparent));
}